:root {
    /* Cores Principais */
    --primary-color: #0086de; /* Azul Claro */
    --primary-color-glass: #0086dee0; /* Azul Claro com opacidade*/
    --primary-dark-color-glass: #005bb5c2;
    --background-color: #ffffff; /* Branco */

    /* Cores de Texto */
    --text-white-color: #ffffff; /* Branco */
    --text-dark-color: #333333; /* Cinza Escuro */
    --text-secondary-color: #666666; /* Cinza Médio */
    --text-gray-color: #ccc; /* Cinza */

    /* Cores Secundárias */
    --background-secondary-color: #f0f0f0; /* Cinza Claro */
    --secondary-color-orange: #ffa500; /* Laranja */
    --secondary-color-red: #ff0000; /* Vermelho */
    --secondary-color-gray: #c5c5c5; /* Cinza */
    --secondary-color-white: #ffffff; /* Branco */
    --secondary-color-dark: #333333; /* Preto */

    /* Cores de Hover/Foco */
    --primary-dark-color: #005bb5; /* Azul Escuro */
    --primary-gray-color: #ccc; /* Cinza */
}

/* Ajustando a área do mapa */
#map {
    height: calc(100vh - 60px);
}

.col {
    flex: 1;
    padding: 0;
}

/* Estilo geral para a Navbar */

/* Menu para Telas Grandes */
.menu-below {
    background: transparent; /* Fundo invisível */
    border: none; /* Remove qualquer borda */
    align-items: end;
}

.menu-below .navbar-nav {
    display: flex;
    align-items: center; /* Alinhamento vertical */
}

.menu-below .nav-link {
    font-size: 1rem; /* Tamanho do texto */
    color: #ffffff !important; /* Texto branco */
    display: flex;
    align-items: center; /* Alinhamento vertical */
    gap: 0.2rem; /* Espaçamento entre ícone e texto */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: color 0.3s ease; /* Suaviza a mudança de cor */
    line-height: 1.2; /* Altura da linha */
}

.menu-below .nav-link i {
    font-size: 1rem; /* Tamanho dos ícones */
    line-height: 1; /* Corrige altura interna do ícone */
    color: #ffffff; /* Ícones brancos */
    position: relative; /* Mantém a posição consistente */
    top: 1px; /* Ajuste fino para alinhar com o texto */
    transition: color 0.3s ease; /* Transição suave */
    align-items: center;
}

.menu-below .nav-link:hover,
.menu-below .nav-link:hover i {
    color: #c5c5c5 !important; /* Amarelo no hover */
}

/* Menu Fullscreen para Telas Pequenas */
@media (max-width: 1280px) {
    .fullscreen-menu {
        background-color: #007bff; 
        color: #ffffff; 
        height: 100%; 
        width: 100%; 
        display: flex;
        flex-direction: column;
        overflow-y: auto; 
        position: fixed; 
        top: 0; /* Começa do topo */
        left: 0; 
        z-index: 1050; /* Garante que está acima de outros elementos */
    }

    /* Links do menu */
    .fullscreen-menu .menu-items a {
        color: #ffffff !important; 
        text-decoration: none;
        font-size: 1.5rem; 
        font-weight: bold;
        transition: color 0.6s ease;
    }

    .fullscreen-menu .menu-items a:hover {
        color: #ffc107; 
    }

    .navbar-toggler {
        border: none; 
        outline: none; 
        background: transparent; 
        padding: 8px; 
        cursor: pointer;
    }
    
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none; 
    }    

    #menuIcon {
        font-size: 24px; 
        cursor: pointer; 
        color: var(--background-color); 
        transition: color 0.6s ease; 
    }

    /* Efeito hover */
    #menuIcon:hover {
        color: var(--background-color); 
    }

    /* Cor amarela após o clique (simulação de estado ativo) */
    #menuIcon:active {
        color: var(--secondary-color-orange); 
    }

    /* Alinhar o botão à direita */
    .offcanvas-header {
        display: flex !important;
        align-items: flex-end !important;
        justify-content: flex-end !important; 
    }
}

/* Estilos gerais para a mensagem de erro  */
#error-message {
    display: none;
    position: absolute;
    top: -10px; /* Ajuste a distância do topo conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(177, 57, 57);
    color: var(--text-white-color);
    font-weight: 300;
    border-radius: 5px;
    z-index: 9999; /* Para garantir que fique acima de outros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.5s ease-in-out;
}

/* Estilos gerais para o componente da caixa de seleção */
#selection-box {
    position: absolute;
    pointer-events: none; /* Não captura cliques internamente */
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#selection-area {
    min-width: 347px;
    min-height: 300px;
    border: 2px dotted var(--primary-dark-color);
    resize: both;
    overflow: hidden;
    position: relative;
}

#selection-button:hover {
    background-color: var(--primary-dark-color);
}

#drag-handle {
    /* Permite arrastar pelo cabeçalho */
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    color: var(--text-white-color);
    background-color: var(--primary-color);
    padding: 5px;
    cursor: move;
    pointer-events: auto; /* O cabeçalho captura eventos de clique */
}
.selection-tools {
    width: 150px;
    pointer-events: auto;
}
.print-options {
    background: var(--background-color);
    padding: 8px;
    border-radius: 0px 5px 5px 0;
    color: var(--text-dark-color);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.print-options select,
.print-options input,
.print-options span {
    height: 28px;
    font-size: 12px;
}
.print-options button {
    width: 80px;
    height: 30px;
    padding: 0;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color-white);
}
.print-options button:hover {
    background-color: var(--primary-dark-color);
}

#selection-area::after {
    /* Estilo para permitir interações nas bordas de redimensionamento */
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid var(--secondary-color-dark);
    width: 15px;
    height: 15px;
    background: var(--background-color); /* Transparente, mas captura eventos */
    cursor: se-resize; /* Mostra o ícone de redimensionamento */
    pointer-events: auto; /* Permite interações nas bordas */
    z-index: 1001;
}
#drag-handle button {
    color: var(--text-white-color);
}
#drag-handle button:hover {
    background: var(--primary-dark-color);
}

.swipe-delete {
    background-color: #f8d7da;
}

.accordion-body {
    user-select: none;
}

/* Estilos gerais para o Botão flutuante*/
#floating-button {
    display: none;
    position: fixed;
    top: 200px; /* Define a distância do topo */
    right: 0; /* Alinha à direita da página */
    cursor: move;
}
#floating-button .btn {
    color: white !important; /* Texto branco */
    background-color: var(--primary-color) !important; /* Fundo azul */
}


.btn-group {
    display: inline-block; /* Garante que o botão não ocupe 100% de largura */
}

.selection-button:hover {
    background-color: var(--primary-dark-color);
}

/*Estilos gerais para as Marcações do mapa*/
.ol-tooltip {
    position: relative;
    background: var(--secondary-color-dark);
    border-radius: 4px;
    color: var(--text-white-color);
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}
.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.ol-tooltip-static {
    background-color: var(--secondary-color-dark);
    color: var(--text-white-color);
    border: 1px solid var(--secondary-color-white);
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid var(--primary-dark-color);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.ol-tooltip-static:before {
    border-top-color: #0a0a0a;
}

/* Estilos gerais para o visual do chat */
#show-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1001;
    margin-left: 20px !important;
}

#show-chat-button:hover {
    background-color: #007bb5;
}

#show-chat-button:active {
    background-color: #007bb5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-container {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    background-color: #ccc;
    position: fixed;
    margin-left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    height: 50px;
}

.chat-title {
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    font-weight: bold;
}

.fa-times {
    font-size: 20px;
    margin-right: 4px;
}

.fa-comment {
    padding-top: 3px;
    margin-right: 4px;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message.received {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message.sent {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#message-input-container {
    display: flex;
    padding: 10px;
    background-color: #007bff;
    flex-shrink: 0;
    border-radius: 0px 0px 8px 8px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#send-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #003d99;
}

#toggle-chat-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.welcome-message {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: -10px;
}

.welcome-message p {
    margin: 0;
    font-size: 14px;
}

.welcome-message p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Chat para telas menores */
@media (max-width: 1280px) {

    .hamburger {
        display: none; /* Hides the hamburger menu on larger screens */
    }
    .close-btn{
        display: none; 
    }

    .main-header.navbar {
        background-color: var(--primary-color); /* Use sua variável de cor principal */
        color: #fff; /* Ajuste a cor do texto, se necessário */
        border-bottom: 1px solid var(--primary-dark); /* Adicione um contorno ou sombra, se desejar */
    }

}
.ol-zoom {
    background: none !important;
}
.ol-zoom {
    top: 10px;    /* Distância do topo da tela */
    right: 10px;  /* Distância da direita da tela */
    left: auto;   /* Define 'left' como automático para evitar conflitos */
}


/* Estilos para telas menores */
@media (max-width: 768px) {
    #show-chat-button {
        padding: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        background-color: #007bff;
        color: white;
        right: 10px;
        bottom: 10px;
    }

    #show-chat-button i {
        margin-right: 0;
    }

    #show-chat-button:hover {
        background-color: #007bb5;
    }
    
    #show-chat-button:active {
        background-color: #007bb5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    #show-chat-button span {
        display: none;
    }
   
    #chat-container {
        width: 100vw;              
        height: 70vh;             
        border-radius: 0;          
        margin-left: 0;
        box-shadow: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(100%); 
        transition: transform 0.6s ease;
        display: flex;
        flex-direction: column;
        z-index: 1050;
    }

    #chat-container.open {
        transform: translateY(0);
    }
    
    .chat-header {
        border-radius: 0;
        height: 50px;    
        font-size: 16px;
        flex-shrink: 0;
    }

    #messages {
        flex: 1; 
        overflow-y: auto;
        background-color: #f7f7f7; 
    }

    #message-input-container {
        border-radius: 0;
        flex-shrink: 0;
    }
}

/* Estilização para adminlte */
a.nav-link.accordion-button.cat:not(.active):hover {
    color: #fff;
}

.os-viewport.os-viewport-native-scrollbars-invisible {
    width: 100%;
    padding: 5px;
    height: 100%;
    background: var(--primary-dark-color-glass);
}

img.logo {
    opacity: 1 !important;
}

.topbar .logo {
    height: 50px;
}

.topbar h1 {
    margin: 0;
}
.topbar {
    display: flex;
    justify-content: space-between;  /* Espaço entre os itens */
    align-items: center;  /* Alinha os itens verticalmente no centro */
    background-color: var(--primary-color);
    height: 60px;
    transition: all 0.3s ease-in-out;
    padding: 0 20px;  /* Espaçamento interno */
}
.topbar a {
    font-weight: bold;
    color: var(--text-white-color);
    text-decoration: none;
}